.person_pic{
   border-radius: 50%;
   max-width: 19%;
   padding-right: 2%;
}
.twocolumn{
  display: flex;
  justify-content: space-between;
  background-color: #FFCC99;
  border-bottom: 2px solid rgba(223, 105, 51, 0.836);
  color: rgba(223, 105, 51, 0.836);
}
.personalinfo{
  padding-left: 2%;
}
.icons{
  max-width: 5.65%;
  border-radius: 0;
  padding-left: 1%;
  color: rgba(223, 105, 51, 0.836);
}


.Rightcolumn{
  float: right;
  width: 70%;
  
}
.leftcolumn{
  float: left;
  padding: 20%;
  
}
h1{
  border-radius: 15%;
  /* background-color:lavender; */
  padding: 1%;
}
h2{
  color: rgba(223, 105, 51, 0.836);
}
h3{
  color: rgba(223, 105, 51, 0.836) ;
}
body{
  margin: 3%;
  padding: 1%;
  border: 2px dotted rgba(223, 105, 51, 0.836);
}
strong{
  color: rgba(223, 105, 51, 0.836);
}
#language-bar{
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px #FFCC99;

}
progress{
  /* background-color: #F7BDA6; */
  margin: 2%;
  
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#language-bar{
  background-color:#FFCC99;
  color: rgba(223, 105, 51, 0.836);
}

