div{
    border: transparent;
    margin: 1px;;
}

ul{
    list-style-type: none;
}
.tags-list{
    display: flex;
}
.tags-decor>li{
    margin: 0px 10px;
    /* border: 1px solid black; */
    /* border-radius: 30%; */
    padding: 1%;
    border-bottom: 1px solid black;
}
.tags{
    margin-left: -2%;
}

.width-80{
    width: 82%;
    margin-left: 2%;
}
.width-20{
    width: 18%;
}

.header{
    width: 100%;
    display: flex;
   
}
.twoColumn{
    display: flex;
}
.content{
    display: flex;
    flex-wrap: wrap;
   
}
.content>div{
    height: 10%;
    margin:  2%;   
    width: 28%; 
   
}
ul>li{
    margin-left: 0%;
    padding-left: 0%;
}
img{
    width: 100%;
}