.body {
  min-height: 300px;
  overflow-x: hidden;
}
.btn-info {
  background-color:rgba(224, 37, 109, 0.836);
  border-color: #92dae7;
}
.groups-block a{
  width: 40px;
  height: 30px;
  background-color: rgb(250, 248, 248);
  display: inline-flex;
  align-items: left;
  justify-content: center;
  color: rgb(212, 38, 140);
  font-size: 30px;
  border-radius: 100%;
}
.collapse ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: all 0.3s ease-in-out; */
}
.collapse ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
/* .circular-active ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: all 0.3s ease-in-out; */
/* }
.circular-active ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
} */ 
.light-theme {
  color:  rgb(212, 38, 140);
  background-color: #f7f7f7;
  font-family: "Georgia", serif;
  font-size: 18px;
  padding: 10px;
}
.sticky {
  position: sticky;
  top: 40px;
}
.button{
  background-color:  rgb(212, 38, 140);
  color: white;
}
@media (max-width: 768px) {
  .footer-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .footer-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}