<html>
<h1>Class</h1>
<head>
<title>Document</title>
     //-<script src="./index.js"></script>
    
</head>
<body>
    <input type="text" id="newtodo">
    <button id="btnAdd">add todo</button>
    <ul id="todo">
        <li> Make coffee <button onclick="handeladd()">Delete</button></li>
        <li>Buy Milk</li>
        <li>feed the cat.</li>
    </ul>
   
</body>
</html>