  <div class="container" style="display: inline-flex;">
    
    <div class="col-left" style="width: 70%;padding-right: 3%;">
      
      <h3 class="heading">
        <span>
         <b>About Charisma</b> 
        </span>
      </h3>
      
      
      <div class="content">
        
        <span>
          <p style="text-align: justify;">
            <span style="font-family: Calibri, sans-serif; font-size: 18px;">
               Charisma cosmetics is a private Ltd company deals in quality products in segment of beauty and skin care. 
               Charisma cosmetic is sisters concern of Darson’s Pharma Ltd.
                a business in pharma serving since four decades and known for its quality products in national market.
                 Origin of charisma cosmetics had come into being when a young doctor of pharmacy completed his studies 
               from England and committed to add value for Pakistan his native country. 
                Founder and CEO of company Dr Anas Dar did his best in R&amp;D and established charisma in 2015
               with commitment to fulfill the gap in local cosmetics industry and stepping towards international market.
                Within five years of continuous working, charisma has best team of professionals. 
                &nbsp;Who can produce and deliver Quality, Commitment and Services to the skin care and
                 beauty cosmetic market.
            </span>
          </p>
        </span>

      </div>
      
    </div>
    
    
    <div class="col-right" style="width: 30%;">
      
      <h3 class="heading">
        <span>
          <b>Our Vision</b>
        </span>
      </h3>
      
      
      <div class="content">
        
        <span>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
                <p style="text-align: justify;">
                  <span style="font-family: Calibri, sans-serif; font-size: 18px;">
                    To develop, maintain and nurture the increasing demand of cosmetics with commitment of best quality,
                     consistency and affordability for customers without demo graphical boundaries.
                    </span>
                </p>
            </div>
          </div>
        </span>

      </div>
      
    </div>
    
  </div>