
<div class="breadcrumb">
    <a href="/">Home</a>
    <span class="arrow">
        <i class="bi bi-caret-right" ></i>
           <b>  </b> 
        </i>
    </span>
    <a href="/contact">Contact</a>
</div>
<header class="page-header">
    <h3><b>Drop us a Line.</b></h3>
    <span class="line"> 
    </span>
</header>
<div class="row" style="display: flex;">
    <div class="col-4" >
        <div>
                <!-- <input type="hidden" name="form-type" value="contact">
                <input type="hidden" name="utf8" value="" > -->
                <div class="form-group" style="margin-top: 2%;">
                    <label for="contactForName">
                        <span>Your Name</span>
                    </label>
                    <br>
                        <input type="text" style="width: 80%;" name="contact[name]" id="contactForName" autocapitalize="words" placeholder=" " >
                </div>
                <div class="form-group"style="margin-top: 2%;" >
                    <label for="contactForName">
                        <span>Your Phone</span>
                    </label>
                    <br>
                        <input type="tel" style="width: 80%;" name="contact[phone]" id="contactForPhone" pattern="[0-9]*" placeholder=" " >
                </div>
                <div class="form-group" style="margin-top: 2%;">
                    <label for="contactForEmail">
                        <span>Your Email</span>
                    </label>
                    <br>
                        <input type="tel" style="width: 80%;" name="contact[email]" id="contactForEmail" autocomplete="off" autocapitalize="off" placeholder=" " >
                </div>

                <div class="form-group"style="margin-top: 2%;">
                    <label for="contactFormMessages">
                        <span>Your Comment</span>
                        <em>*</em>
                    </label>
                    <br>
                    <textarea rows="8" style="width: 80%;" placeholder="Please leave your comment here"></textarea>
                </div>
                <input type="submit" style="width: 40%;" class="button" value="Submit Contact" style="margin-top: 7%;" style="color: pink;" >
            </form>
        </div>

    </div>
    <div class="location col-8" >
        <h4 >
            <span style="font-family:sans-serif"><b>Store Information</b></span>
        </h4>
        <p >
            <span style="font-family:sans-serif">We'd love to hear from you to send us your message</span>
        </p>
        <p >
            <span style="font-family:sans-serif">First Floor,Eid Gah Road,Faislabad,38000</span>
        </p>
        <p >
            <span style="font-family:sans-serif">Email:
                <a href="mailto:cs@charisma.com.pk">cs@charisma.com.pk</a>
                <br>
                Mobile#:
                <strong>+92-306-554567867</strong>
            </span>
            <div class="open-hours">
                <span >
                    <span style="font-family:sans-serif"><b>Opening Hours:</b></span>
                </span>
                <p >
                    <span style="font-family:sans-serif">Monday - Friday: 9am - 5pm</span>
                </p>
                <p >
                    <span style="font-family:sans-serif">Saturday: 10am - 4pm</span>
                </p>
                <p >
                    <span style="font-family:sans-serif">Sunday: Closed</span>
                </p>
            </div>
        </p>
 </div>
 
</div>
 <%-contentFor("footer") %>
 

    
