.person_pic{
   border-radius: 50%;
   max-width: 19%;
   padding-right: 2%;
}
.twocolumn{
  display: flex;
  justify-content: space-between;
  background-color: #F7BDA6;

}
.personalinfo{
  padding-left: 2%;
}
.icons{
  max-width: 5%;
  border-radius: 0;
  padding-left: 1%;
  
}


.Rightcolumn{
  float: right;
  width: 70%;
}
.leftcolumn{
  float: left;
  padding: 20%;
}
h1{
  border-radius: 15%;
  /* background-color:lavender; */
  padding: 1%;
}
body{
  margin: 3%;
  padding: 1%;
  border: 2px dotted black;
}
#language-bar{
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);

}
progress{
  /* background-color: #F7BDA6; */
  margin: 2%;
  
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}


